<!--form fields-->
<div class="form-group">
    <label for="title">title:</label>
    <input type="text" name="title" id="title">
</div>
<div class="form-group">
    <label for="description">description:</label>
    <input type="text" name="description" id="description">
</div>
 
<div class="form-group">
    <label for="author">author:</label>
    <input type="text" name="author" id="author">
</div>
<div class="form-group">
    <label for="dateCreated">date created</label>
    <input type="date" name="dateCreated">
</div>
<div class="form-group">
    <label for="id"></label>
    <input type="text" name="id" id="id">
</div>
<div class="sub_description">
    <label for="subDescription">Sub Description</label>
    <input type="text" name="subDescription" id="subDescription">
</div>
<a href="/">Cancel</a>
<button type="submit">Save</button>


