<div class="header">
    <div class="header-left">
        <div>Read</div>
        <div class="header-left_icon">
            <img class="arrowimg" src="/assets/downarrow.svg" alt=""  >
        </div>
    </div>
    
    
    <a href="/" style="color: black; text-decoration:none; ">Dezien</a>
    <div class="header-right">
        <div class="header-login">Login</div>
        <img src="/assets/search.svg" alt="Search"style="width:15px">
    </div>
    </div>

