<div class="header">
    <div class="header-left">
        <div>Read</div>
        <div class="header-left_icon">
            <img class="arrowimg" src="/assets/downarrow.svg" alt=""  >
        </div>
    </div>
    
    
    <a href="/" style="color: black; text-decoration:none; ">Refra</a>
    <div class="header-right">
      
       
     
        <% if(user.name != "model" ) {%>
            <div class="profile-content">
                <img id="profile-pic" src="/assets/gigachad.png" alt="">
                <h4 style="margin: 0px;"><%= user.name %></h4>
            </div>
        <form action="/article/logout" method="post">
            <button class="type">Logout</button>
        </form>
        
        <%} else{ %>
            <a class="header-login" href="/article/login">Login</a>
     
    
            <%}%>
    

            

        <img src="/assets/search.svg" alt="Search"style="width:15px">
    </div>
    </div>

    

  
