html{
   
}
h1{
    display: flex;
    justify-content: center;
    margin: 5px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.article-container{
     width: 500px; padding: 10px;
}
.dates-author{
     display: flex;
     justify-content: space-between;
     align-items: center;
    gap: 5px;
}
img{
    width: 1200px;
    height: 600px;
}