
html{
   
}

.header{
    display: flex; justify-content: space-between;padding: 20px; position: sticky; top:0px;background-color: white;align-items: center;
}
.header-right{
    display: flex; gap: 10px;align-items: center;
}
#profile-pic{
    width: 30px; border-radius: 40px; height: auto;
}
.header-login{
    padding: 5px; color: white; background-color: blueviolet; border-radius: 5px;cursor: pointer; user-select: none;
}
.header-left{
    display: flex;  align-items: center; gap: 7px;
}
.arrowimg{
    width:15px
}
.header-left_icon{
    display: flex;  width:10px
}
.header-left_icon:hover  .nav_wrapper {
    display: block;
}
.nav_wrapper{
    background-color: beige; width: 100;display: none;
}
.type{
    border-style: none; padding: 5px; color: white; background-color: blueviolet; border-radius: 5px;cursor: pointer; user-select: none;
  }
/**/


h1{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.outer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.article-container{
     width: 500px; padding: 10px;
}
.dates-author{
     display: flex;
     justify-content: space-between;
     align-items: center;
    gap: 5px;
}
.image{
    width: 1200px;
    height: 600px;
}
