.auth_page_main{
    display: flex;
   align-items: center;
flex-direction: column;
}
.terms{
    color: blueviolet;
}
.terms:hover{
    cursor: pointer;
    text-decoration: underline;
}
.container{
  

}

.policy-terms{
    width: 500px;
    text-align: center;
}
form{
   
    padding: 10px;
    border-radius: 10px;

}
input{
width: 500px;
height: 30px;
border: 2px solid lightgray;
}
button{
    width: 80px;
    padding: 10px;
    color: white;
    background-color: rgb(124, 123, 123);
    border-radius: 5px;
    border-style: none;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
#divisor{
    display: flex;
    flex-direction: column;
   padding: 5px;
}